// Mixins :: Image

@mixin image-absolute-center($orientation: vert, $z-index: $z-index-app-default) {
  margin: auto;
  position: absolute;
  z-index: $z-index;

  @if $orientation == "vert" {
    bottom: -9999px;
    height: auto;
    left: 0;
    right: 0;
    top: -9999px;
    width: 100%;
  }
  @else if $orientation == "hor" {
    bottom: 0;
    height: 100%;
    left: -9999px;
    right: -9999px;
    top: 0;
    width: auto;
  }
}