// Components :: Cover

.cover {
  background-color: $black;
  color: $white;
  height: $cover-height;
  position: relative;
  margin-bottom: $gutter;

  &__background {
    bottom: 0;
    left: 0;
    overflow: hidden;
    position: absolute;
    right: 0;
    top: 0;

    &:after {
      @include linear-gradient(0deg, rgba($black, 0.8) 0%, rgba($black, 0) 50%);
      background-color: rgba($black, 0.1);
      bottom: 0;
      content: "";
      left: 0;
      position: absolute;
      right: 0;
      top: 0;
      z-index: $z-index-app-default;
    }

    img {
      @include image-absolute-center(vert);
    }
  }

  &__content {
    bottom: $gutter;
    left: 0;
    position: absolute;
    right: 0;
    z-index: $z-index-app-cover;
  }

  &__avatar {
    background-color: $white;
    border-radius: $border-radius;
    box-shadow: $z-depth-3;
    margin-top: $cover-avatar-offset * -1;
    overflow: hidden;
    position: absolute;
    width: $cover-avatar-width;
    height: $cover-avatar-height;
    z-index: $z-index-app-cover-avatar;

    img {
      @include image-absolute-center(hor);
    }
  }

  &__name {
    margin-top: 0;
    text-shadow: $z-depth-text;
  }

  &__handle {
    margin-bottom: 0;
    opacity: 0.7;
  }
}