// Components :: Profile

.profile-card {
  &__avatar {
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 160px;
    img {
      @include image-absolute-center(vert);
    }
  }

  &__body {
    padding: $keyline-double;
  }
}

// Modifiers
.profile-card {
  &--main {
    padding-top: $cover-avatar-offset;
  }
}