// Variables :: Color

// Color - Shades
$white:     #fff;
$black:     #000;

$gray-darker:  #222;
$gray-dark:    #333;
$gray:         #666;
$gray-light:   #aaa;
$gray-lighter: #eee;
$off-white: #f9f9f9;

// Color
$blue: #168eea;

// Color - Variables
$color-branding: $blue;
$color-border: $gray-lighter;
$color-link: $blue;
$color-meta-light: $gray-light;
$color-text: $gray;
$color-text-meta: $gray-light;
$color-title: $gray-dark;
