// Variables :: Typography

// Font Family
$font-family-sans-serif: "Open Sans", "Helvetica Neue", "Helvetica", "Arial";

// Font Weights
$font-weight-bold:    bold;
$font-weight-light:   lighter;

// Line Heights
$line-height-base:    1.5;
$line-height-title:   1.2;
$line-height-reset:   1;