// Variables :: Z-Depth

// Z-Depth (Shadows)
// Use these to help visually "layer" floating components (such as dropdowns)
// Inspired By: http://www.google.com/design/spec/layout/layout-principles.html#layout-principles-dimensionality
$z-depth-0: 0px 1px 1px -1px rgba( 0, 0, 0, 0.12 );
$z-depth-1: 0px 1px 1px rgba( 0, 0, 0, 0.12 );
$z-depth-2: 0px 2px 4px rgba( 0, 0, 0, 0.16 );
$z-depth-3: 0px 4px 6px rgba( 0, 0, 0, 0.16 );
$z-depth-4: 0px 8px 10px rgba( 0, 0, 0, 0.16 );
$z-depth-5: 0px 12px 16px rgba( 0, 0, 0, 0.16 );

$z-depth-text: 0 0 1px rgba($black, 0.3);


$z-index-app-cover-avatar:        3;
$z-index-app-cover:               2;
$z-index-app-default:             1;